

.headerStyle {
  height: 400px;
  padding-bottom: 0px;
  color: #f5426c;
  text-align: center;
  margin-bottom: 30px;
  background-image: url("./headerimg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	
  
};
